@media (max-width: 680px) {
  .style_nav-wrapper__pbuf9 {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #000 16px,
      #000 calc(100% - 16px),
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      #000 16px,
      #000 calc(100% - 16px),
      transparent
    );
  }
}
.style_nav-wrapper__pbuf9::-webkit-scrollbar {
  display: none;
}
.style_PortableTable__c4CKX {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 100%) {
  .style_PortableTable__c4CKX {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .style_PortableTable__c4CKX {
    max-width: 1024px;
  }
}
@media (min-width: 1080px) {
  .style_PortableTable__c4CKX {
    max-width: 1080px;
  }
}
.style_PortableTable__c4CKX {
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--white) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1);
  --tw-shadow-colored: 30px 30px 80px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.style_tableHeader__K0_GJ {
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.style_PortableTable__c4CKX tbody tr:nth-child(2n) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--gray-100) / var(--tw-bg-opacity));
}
