/* body {
  font-family: 'Plus Jakarta Sans', sans-serif;
} */

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-jakarta-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}
/* body {
  font-family: 'Material Symbols Outlined';
  font-weight: 550;
} */


/* body {
  font-family: 'Nunito Sans', Tahoma, sans-serif; 
  font-weight: 550;
} */