/* @tailwind base;
@tailwind components;
@tailwind utilities; */


[x-cloak] {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: rgb(56, 178, 172); */
    background: #ed1c24;
    /* background: #4d4f51; */
    /* border-radius: 100vh; */
    /* border: 0.5px solid #ffffff; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #4d4f51; */
    background: #4d4f51;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}