@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000');

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-weight: 400;
  color: #333; 
  background-color: #f9f9f9;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px; 
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #222;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 400;
}

blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 4px solid #ccc;
  font-style: italic;
  color: #555;
}

/* code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

pre {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  padding: 1em;
  border-radius: 4px;
  overflow-x: auto;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

