@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:bg-brand-primary:hover {
    background-color: #ed1c24;
  }
}

html {
  scroll-behavior: smooth;
}

.font-sans {
  font-family: "Lato", serif !important;
}

.image-style {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}


.section-heading {
  @apply tracking-normal text-3xl text-black font-semibold leading-tight capitalize;
  font-family: "Lato", serif !important;
}
@media (max-width: 768px) {
  .section-heading {
    @apply text-2xl leading-snug;
  }
}

.card-heading {
  @apply tracking-normal text-lg text-black font-semibold leading-normal capitalize;
  font-family: "Lato", serif !important;
}
@media (max-width: 768px) {
  .card-heading {
    @apply text-base leading-normal;
  }
}

.content {
  @apply tracking-normal text-[14px] text-black !font-sans;
  font-family: "Lato", serif !important;
}
@media (max-width: 768px) {
  .content {
    @apply text-sm;
  }
}

.small-text {
  @apply tracking-normal text-xs text-black font-normal leading-normal;
  font-family: "Lato", serif !important;
}
@media (max-width: 768px) {
  .small-text {
    @apply text-[12px];
  }
}

.bannerHeading {
  @apply tracking-normal text-4xl text-black font-semibold leading-normal capitalize;
  font-family: "Lato", serif !important;
}
@media (max-width: 390px) {
  .bannerHeading {
    @apply text-[35px];
  }
}
.bannerDescription{
  @apply tracking-normal text-xl text-black font-semibold leading-normal capitalize;
  font-family: "Lato", serif !important;
}
@media (max-width: 390px) {
  .bannerDescription {
    @apply text-[12px];
  }
}


.button-animation {
  @apply transform transition hover:cursor-pointer hover:scale-90 duration-700 ease-in-out
}


[x-cloak] {
    display: none;
}
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #ed1c24;   
}
::-webkit-scrollbar-thumb:hover {
    background: #4d4f51;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}