@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:bg-brand-primary:hover {
    background-color: #ed1c24;
  }
}


.h1-class {
  @apply text-3xl sm:text-4xl md:text-5xl font-bold text-gray-900;
}

.h2-class {
  @apply text-2xl sm:text-3xl md:text-4xl font-semibold text-gray-900;
}

.h3-class {
  @apply text-xl sm:text-2xl md:text-3xl font-semibold text-gray-900;
}

.h4-class {
  @apply text-lg sm:text-xl md:text-2xl font-semibold text-gray-900;
}

.h5-class {
  @apply text-base sm:text-lg md:text-xl font-semibold text-gray-900;
}

.h6-class {
  @apply text-sm sm:text-base md:text-lg font-medium text-gray-900;
}

.p-class {
  @apply text-base leading-relaxed text-gray-700;
}


.button-animation {
    @apply transform transition hover:cursor-pointer hover:scale-90 duration-700 ease-in-out
}

.heading-class {
    @apply text-[27px] font-semibold text-gray-900
}

.subheading-class {
    @apply text-[18px] font-semibold text-gray-900
}

.text-2xl {
    @apply text-[27px] !important
}


[x-cloak] {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed1c24;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d4f51;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}