@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:bg-brand-primary:hover {
    background-color: #ed1c24;
  }
}

.image-style {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}


.section-heading {
  @apply tracking-normal text-3xl text-black font-semibold leading-tight capitalize
}

.card-heading {
  @apply tracking-normal text-lg text-black  font-semibold leading-normal capitalize
}

.content{
  @apply tracking-normal text-[15px] text-gray-800 font-normal leading-normal  
}

.small-text {
  @apply tracking-normal text-xs text-black font-normal leading-normal
}

.bannerHeading{
  @apply tracking-normal text-4xl text-black font-semibold leading-normal capitalize
}

.bannerDescription{
  @apply tracking-normal text-xl text-black font-semibold leading-normal capitalize
}







.h1-class {
  @apply text-3xl sm:text-4xl md:text-5xl font-bold text-gray-900;
}

.h2-class {
  @apply text-2xl sm:text-3xl md:text-4xl font-semibold text-gray-900;
}

.h3-class {
  @apply text-xl sm:text-2xl md:text-3xl font-semibold text-gray-900;
}

.h4-class {
  @apply text-lg sm:text-xl md:text-2xl font-semibold text-gray-900;
}

.h5-class {
  @apply text-base sm:text-lg md:text-xl font-semibold text-gray-900;
}

.h6-class {
  @apply text-sm sm:text-base md:text-lg font-medium text-gray-900;
}

.p-class {
  @apply text-base leading-relaxed text-gray-700;
}

.heading-class {
    @apply text-[27px] font-semibold text-gray-900
}

.subheading-class {
    @apply text-[18px] font-semibold text-gray-900
}

.text-2xl {
    @apply text-[30px] font-medium !important
}

.button-animation {
  @apply transform transition hover:cursor-pointer hover:scale-90 duration-700 ease-in-out
}


[x-cloak] {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed1c24;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d4f51;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}