@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:bg-brand-primary:hover {
    background-color: #ed1c24;
  }
}

html {
  scroll-behavior: smooth;
}

.font-sans {
  font-family: "Lato", serif !important;
}

.image-style {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}


.section-heading {
  @apply tracking-normal text-3xl text-black font-semibold leading-tight capitalize
}
.section-heading {
  font-family: "Lato", serif !important;
}

.card-heading {
  @apply tracking-normal text-lg text-black  font-semibold leading-normal capitalize
}
.card-heading {
  font-family: "Lato", serif !important;
}

.content{
  @apply tracking-normal text-[14px] text-black !font-sans 
}
.content{
  font-family: "Lato", serif !important;
}

.small-text {
  @apply tracking-normal text-xs text-black font-normal leading-normal
}
.small-text {
  font-family: "Lato", serif !important;
}

.bannerHeading{
  @apply tracking-normal text-4xl text-black font-semibold leading-normal capitalize
}
.bannerHeading{
  font-family: "Lato", serif !important;
}

.bannerDescription{
  @apply tracking-normal text-xl text-black font-semibold leading-normal capitalize
}
.bannerDescription{
  font-family: "Lato", serif !important;
}


.button-animation {
  @apply transform transition hover:cursor-pointer hover:scale-90 duration-700 ease-in-out
}


[x-cloak] {
    display: none;
}
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #ed1c24;   
}
::-webkit-scrollbar-thumb:hover {
    background: #4d4f51;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}