@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover\:bg-brand-primary:hover {
    background-color: #ed1c24;
  }
}

.button-animation {
    @apply transform transition hover:cursor-pointer hover:scale-90 duration-700 ease-in-out
}

.heading-class {
    @apply text-[27px] font-semibold text-gray-900
}

.subheading-class {
    @apply text-[18px] font-semibold text-gray-900
}

.text-2xl {
    @apply text-[27px] !important
}


[x-cloak] {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ed1c24;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d4f51;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}