@media (max-width: 680px) {
  .style_nav-wrapper__pbuf9 {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #000 16px,
      #000 calc(100% - 16px),
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      #000 16px,
      #000 calc(100% - 16px),
      transparent
    );
  }
}
.style_nav-wrapper__pbuf9::-webkit-scrollbar {
  display: none;
}
